.App {
  text-align: center;
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-size: cover;
  padding-top: 2%;
}

.title{
  background-image: url("./images/adalab.png");
  width: 300px;
  height: 1px;
  margin: auto;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10%;
  color: red;
}

.container{
  display: flex;
  flex-direction: column;
}

.selectAdalaber{
  width: 60%;
  height: 40px;
  margin: auto;
  font-size: 20px;
  margin-bottom: 8%;
  background-color: #8f6479;
  border: 2px solid #ccc0c1;
  color: white;
}


/*CARD*/
.cardContainer{
  height: 400px;
  width: 30%;
  margin: auto;
  background-color: #e6e0e0;
  border-radius: 10%;
}

.profileImage{
  background-size: cover;
  width: 50%;
  border-radius: 50%;
  position: relative;
  top: -25%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.DetailContainer{
  position: relative;
  top: -20%;
  font-size: 22px;
}

.profileName{
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  color: #451214;
}


.followContainer{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20%;
  background-color: #ccc0c1;
  border-radius: 10px;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  height: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.profileFollowing{
  width: 10px;
  display: flex;
  justify-content: center;
}

.profileFollowers{
  width: 10px;
  display: flex;
  justify-content: center;
}
